<app-header></app-header>

<!-- Content Start-->
<div class="container">
  <div class="text-center">

    <div class="card mx-auto my-3">
      <div class="card-body">
        <div class="card-content p-2">

          <h4>DATOS DE MI CUENTA</h4>

          <form>

            <div class="d-flex flex-md-row flex-column justify-content-between w-100 mt-4">

              <div class="form-group text-left w-100 m-md-3">
                <div class="position-relative has-icon-right">
                  <label for="nombre" class="">Nombre</label>
                  <input type="text" id="nombre" class="form-control input-shadow" name="name" [(ngModel)]="user.nombre">
                </div>
              </div>

              <div class="form-group text-left w-100 m-md-3">
                <div class="position-relative has-icon-right">
                  <label for="apellidos" class="">Apellidos</label>
                  <input type="text" id="apellidos" class="form-control input-shadow" name="surname" [(ngModel)]="user.apellidos">
                </div>
              </div>

            </div>

            <div class="d-flex flex-row justify-content-start w-100 mt-1">
              <button (click)="modificarDatos()" type="button" class="btn btn-outline-success m-3">Guardar</button>
            </div>

          </form>

        </div>
      </div>
    </div>

    <div class="card mx-auto mb-3 mt-4">
      <div class="card-body">
        <div class="card-content p-2">

          <h4>CONTRASEÑA</h4>

          <form name="form">

            <div class="d-flex flex-lg-row flex-column justify-content-between w-100 mt-4">

              <div class="form-group text-left w-100 m-lg-3">
                <div class="position-relative has-icon-right">
                  <label for="password" class="">Antigua contraseña</label>
                  <input type="password" id="password" class="form-control input-shadow" name="password">
                </div>
              </div>

              <div class="form-group text-left w-100 m-lg-3">
                <div class="position-relative has-icon-right">
                  <label for="password1" class="">Nueva contraseña</label>
                  <input type="password" id="password1" class="form-control input-shadow" name="password1">
                </div>
              </div>

              <div class="form-group text-left w-100 m-lg-3">
                <div class="position-relative has-icon-right">
                  <label for="password2" class="">Repetir contraseña</label>
                  <input type="password" id="password2" class="form-control input-shadow" name="password2">
                </div>
              </div>

            </div>

            <div class="d-flex flex-row justify-content-start w-100 mt-1">
              <button type="button" class="btn btn-outline-success m-3">Guardar</button>
            </div>

          </form>

      </div>
    </div>
  </div>

  <div class="card mx-auto mb-3 mt-4">
    <div class="card-body">
      <div class="card-content p-2">

        <h4>ALERGENOS</h4>

        <form name="form">

          <div class="d-flex flex-row justify-content-between w-100 mt-4">

            <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 g-3">

              <!-- Alergenos del usuario -->
              <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2" *ngFor="let alergeno of alergenosUsuario |async;">
                <div class="card bg-light">
                  <div class="d-flex justify-content-center">
                    <img class="bd-placeholder-img card-img-top" src='../../../../../assets//images/Alergenos/{{alergeno.alergeno.nombre}}.png'>
                  </div>
                  <div class="d-flex justify-content-center">
                    <div class="mb-3 mr-4 pb-3">
                      <input type="checkbox" id="box-{{alergeno.alergeno.id_alergeno}}" checked='true' disabled>
                      <label for="box-{{alergeno.alergeno.id_alergeno}}"></label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Alergenos del usuario -->

            </div>

          </div>

          <div class="d-flex flex-row justify-content-start w-100 mt-1">
            <button type="button" class="btn btn-outline-success m-3" data-toggle="modal" data-target="#staticBackdrop2">Modificar</button>
          </div>

        </form>

    </div>
  </div>
</div>

  </div>
</div>
<!-- Content End-->
<app-footer></app-footer>

<!--<app-color></app-color>-->

<!-- Modal -->
<div class="modal fade card " id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content " style=" background: url(../../../../assets/images/bg-themes/2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
      <div class="modal-body">
        <!-- FUNCIONALIDAD -->

        <!-- Alergenos -->
        <div class="d-flex flex-row justify-content-between w-100 mt-4">
          <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 g-3">

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2" *ngFor="let alergeno of alergenos |async;">
              <div class="card bg-light">
                <div class="d-flex justify-content-center">
                  <img class="bd-placeholder-img card-img-top" src='../../../../../assets//images/Alergenos/{{alergeno.nombre}}.png'>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="mb-3 mr-4 pb-3">
                    <input type="checkbox" id="box1-{{alergeno.id_alergeno}}" value='{{alergeno.id_alergeno}}' (change)="OnCheckboxSelect(alergeno, $event)">
                    <label for="box1-{{alergeno.id_alergeno}}"></label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 " style="margin-bottom: -7px;">
              <button (click)="updateAlergenosUsuario()" class="w-100 btn btn-outline-warning btn-lg mt-0 rounded-0" type="submit">
                <i class="fas fa-pen">&nbsp;Modificar</i>&nbsp;
                <div *ngIf="modificando" class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </button>
            </div>

          </div>
        </div>


        <!-- Alergenos -->

        <!-- FUNCIONALIDAD -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
      </div>
    </div>
  </div>
</div>
