<div class="card-body ">
  <h5 class="card-title">{{' #'+pedido.id_pedido+'  '+pedido.usuario.email}}</h5>
  <h6 class="card-subtitle mb-2 text-white">{{pedido.usuario.nombre+' '+pedido.usuario.apellidos}}</h6>
  <p class="card-text">{{'Total a pagar > '+pedido.precioTotal+'€ | Pedido realizado el '+pedido.fecha}}</p>
  <a class="card-link">Franja horaria :</a>
  <a class="card-link">{{pedido.franjaHoraria.horaInicio+' - '+pedido.franjaHoraria.horaFinal}}</a>
</div>
<div class="card-header shadow" style="background-color: rgba(0, 0, 0, 0.329);">
  Articulos del pedido
</div>
<ol *ngIf="!articulosCargados"  class="col-12 mb-5 text-nowrap text-center mt-5">
  <span>
    <li class="spinner-border spinner-border-sm" role="status">
      <span class="sr-only">Loading...</span>
    </li>
    &nbsp;Cargando ... &nbsp;
  </span>
</ol>
<ol class="list-group list-group-flush mb-4 shadow" style="max-height: 58vh; overflow: hidden; overflow-y: scroll;">
  <ng-container *ngFor="let pedidoItem of pedidosItemsView |async; let z = index;">
    <!--Loading-->

    <ul *ngIf="pedidoItem.pedido.id_pedido == pedido.id_pedido" class="list-group-item" style="background-color: rgba(0, 0, 0, 0);">
      <li class="list-group-item" style="background-color: rgba(0, 0, 0, 0.1);">{{pedidoItem.item.nombre}}</li>
      <li class="list-group-item" style="background-color: rgba(0, 0, 0, 0.1);">{{pedidoItem.item.categoria.nombre}}</li>
      <li class="list-group-item" style="background-color: rgba(0, 0, 0, 0.1);">{{'Precio: '+pedidoItem.item.precio+'€'}}</li>
    </ul>
  </ng-container>
</ol>
