<!-- Start wrapper-->
<div id="wrapper" style="position: absolute;top: 0;right: 0;">

  <div class="card card-authentication1 mx-auto my-5">
    <div class="card-body">
      <div class="card-content p-2">
        <div class="text-center">
          <!-- <a href="home"><img src="assets/images/logo_2.png" alt="logo icon"></a> -->
        </div>
        <div class="card-title text-uppercase pb-2 py-3">RESTABLECER LA CONTRASEÑA</div>
        <p class="pb-2">Por favor, introduzca su dirección de correo electrónico. Recibirá un enlace para crear una nueva contraseña por correo electrónico.</p>
        <form>
          <div class="form-group">
            <div class="position-relative has-icon-right">
              <input type="text" class="form-control input-shadow" placeholder="Dirección de correo electrónico">
              <div class="form-control-position">
                <i class="icon-envelope-open"></i>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-light btn-block mt-3">Restablecer la contraseña</button>
        </form>
      </div>
    </div>
    <div class="card-footer text-center py-3">
      <p class="text-warning mb-0">Volver al <a href="login"> Inicio de sesión</a></p>
    </div>
  </div>


</div>
<!-- End wrapper -->
