<app-header></app-header>

<div class="container">

  <!-- option-->
  <div class="d-flex flex-column mb-3 rounded p-2 mt-2 mt-sm-0" style="  background-color: rgba(0, 0, 0, 0.267); ">
    <div class="d-flex flex-column flex-md-row ">
      <div class="input-group mr-1">
        <label style="width: 150px;" class="input-group-text rounded-0 bg-light " for="inputGroupSelect01"><i class="fa fa-list-alt">&nbsp;</i>Categoria</label>
        <select [(ngModel)]="id" class=" form-control rounded-0 dropdown bootstrap-select " id="inputGroupSelect01" (ngModelChange)="onIdChangeFilter($event)">
          <option class="drop bg-light" value="0">Todas las categorias</option>
          <option *ngFor="let categoria of categorias |async" [ngValue]="categoria.id_categoria" class="drop bg-light" value={{categoria.id_categoria}}>{{categoria.nombre}}</option>
        </select>
      </div>
      <div class="input-group mt-2 mt-md-0">
        <label style="width: 150px;" class="input-group-text rounded-0 bg-light " for="inputGroupSelect01"><i class="fas fa-search">&nbsp;</i>Buscar</label>
        <input type="text" [(ngModel)]="nombre" value={{nombre}} (ngModelChange)="onNameChangeFilter($event)" class="form-control input-shadow rounded-0 bootstrap-select">
      </div>
    </div>

    <div class="d-flex flex-column mt-2" >
      <button class="btn btn-outline-info  text-nowrap text-white rounded-0 mt-2 mt-sm-0" data-toggle="modal" data-target="#staticBackdrop2">Añadir producto</button>
    </div>
  </div>
  <!-- option-->

  <div class="row g-3">
    <!--Loading-->
    <div *ngIf="!cargado"  class="col-12 mb-5 text-nowrap text-center mt-5">
      <span>
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        &nbsp;Cargando ... &nbsp;
      </span>
    </div>

    <!--Inicio Item-->
    <div *ngFor="let articulo of articulos |async " class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="height: 48vh; max-height: 48vh; overflow: hidden; margin-bottom: 10px; ">
      <div class="card shadow-sm">
        <img [src]="'data:image/jpg;base64,'+articulo.imagen" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="" role="img" aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice" focusable="false"
        style="height: 25vh; max-height: 25vh; overflow: hidden; ">
        <div class="card-body">
          <h4 class="card-title">{{articulo.nombre}}</h4>
          <p class="card-text" style="height: 6vh; max-height: 6vh; overflow: hidden; ">{{articulo.descripcion}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group" style="height: 5vh; max-height: 5vh; overflow: hidden; ">
              <button type="button" class="btn btn-sm btn-light " (click)=verPlato(articulo.id_item)>Ver</button>
              <button type="button" class="btn btn-sm btn-outline-light text-white" (click)=addCarrito(articulo)><i class="fa fa-plus-square" style="white-space: nowrap;">&nbsp;Añadir</i></button>
            </div>
            <small class="text-white " style="white-space: nowrap;"> {{articulo.precio}}&nbsp;<i class="fas fa-euro-sign"></i> </small>
          </div>
        </div>
      </div>
    </div>
    <!--Fin Item-->

  </div>

</div>

<app-footer></app-footer>

<!--<app-color></app-color>-->


<!-- Modal -->
<div class="modal fade card " id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content " style=" background: url(../../../../assets/images/bg-themes/2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
      <div class="modal-body">
        <!--Componente-->
        <app-cplato></app-cplato>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
      </div>
    </div>
  </div>
</div>


