.bootstrap-select{
  background-color: rgba(255, 255, 255, 0.116);
  border-style: solid;
  border-left-width: 3px;
  border-left-color: #ffffff85;
  border-top: none;
  border-bottom: none;
  border-right: none;
  color: white;
  font-weight: 200;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select option {
  background-color: #d3d3d3 !important;
  color: #141414;
}




