<!-- Start wrapper-->
<div id="wrapper" style="position: absolute;top: 0;right: 0;">
  <div class="card card-authentication1 mx-auto my-5">
    <div class="card-body">
      <div class="card-content p-2"> <!-- Contenido card -->

        <div class="card-title text-uppercase text-center py-3">Iniciar Sesión</div>

        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="onLogin()" [formGroup]="angForm" autocomplete="off"> <!-- Formulario -->

          <!--Username-->
          <div class="form-group">
            <label for="exampleInputUsername" class="sr-only">Nombre de usuario</label>
            <div class="position-relative has-icon-right">
              <input type="text" name="username" formControlName="username"  class="form-control input-shadow" placeholder="Introduce el nombre de usuario"
              [(ngModel)]="user.username" autocomplete="new-username">
              <div class="form-control-position">
                <i class="icon-user"></i>
              </div>
            </div>
          </div>
          <!--Username Validation -->
          <div *ngIf="angForm.controls['username'].invalid && (angForm.controls['username'].dirty || angForm.controls['username'].touched)" class="alert alert-danger p-2">
            <div *ngIf="angForm.controls['username'].errors.required"> Se requiere nombre de usuario. </div>
          </div>

          <!--Password-->
          <div class="form-group">
            <label for="exampleInputPassword" class="sr-only">Contraseña</label>
            <div class="position-relative has-icon-right">
              <input type="password" name="password" formControlName="password"  class="form-control input-shadow" placeholder="Introduce la contraseña"
              [(ngModel)]="user.password" autocomplete="new-password">
              <div class="form-control-position">
                <i class="icon-lock"></i>
              </div>
            </div>
          </div>

          <!--Password Validation -->
          <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger p-2">
            <div *ngIf=" angForm.controls['password'].errors.required "> Se requiere contraseña. </div>
          </div>

          <!--Recuerdame-->
          <div class="form-row">
            <div class="form-group col-5">
              <div class="icheck-material-white">
                <input type="checkbox" id="user-checkbox" name="checkbox" checked="" />
                <label for="user-checkbox">Recuérdame</label>
              </div>
            </div>
            <div class="form-group col-7 text-right" style="margin-top: 5px;">
              <a href="forgot">Restablecer la contraseña</a>
            </div>
          </div>

          <!--Submit-->
          <input type="submit" class="btn btn-light btn-block" value="INICIAR SESIÓN">

          <!--Errores API-->
          <div class="form-group mt-2">
            <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed && angForm.status === 'VALID'" >
              {{ errorMessage }}
            </div>
          </div>

        </form> <!-- Fin Formulario -->

        <div class="alert alert-success p-2" *ngIf="isLoggedIn">
          Conectado.
        </div>

      </div> <!-- Fin Contenido card -->
    </div>
    <div class="card-footer text-center py-3">
      <p class="text-warning mb-0">No tienes una cuenta? <a href="register"> Registrate aquí</a></p>
    </div>
    <div *ngIf="debug" class="card-footer  py-3">
      <p class="text-info mb-0">{{ angForm.value | json }}</p>
      <p class="text-info mb-0">Form status: {{ angForm.status | json }}</p>
    </div>
  </div>
</div><!--wrapper-->




