<app-header></app-header>
<!-- Content Start-->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Usuario List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>username</th>
          <th>email</th>
          <th>nombre</th>
          <th>apellidos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios | async">
          <td>{{usuario.username}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.apellidos}}</td>
          <td>
            <button (click)="deleteUsuario(usuario.id_usuario)" class="btn btn-danger">Delete</button>
            <button (click)="updateUsuario(usuario.id_usuario)" class="btn btn-info" style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Content End-->
<app-footer></app-footer>

<!--<app-color></app-color>-->
