<!--start color switcher-->
<div class="right-sidebar">
  <div class="switcher-icon " style="width: 30px;">
    <
  </div>
  <div class="right-sidebar-content">

      <p class="mb-0">Gaussion Texture</p>
      <hr>

      <ul class="switcher">
        <li id="theme1"(click)='onChangueColor("bg-theme1")'></li>
        <li id="theme2"(click)='onChangueColor("bg-theme2")'></li>
        <li id="theme3"(click)='onChangueColor("bg-theme3")'></li>
        <li id="theme4"(click)='onChangueColor("bg-theme4")'></li>
        <li id="theme5"(click)='onChangueColor("bg-theme5")'></li>
        <li id="theme6"(click)='onChangueColor("bg-theme6")'></li>
      </ul>

      <p class="mb-0">Gradient Background</p>
      <hr>

      <ul class="switcher">
        <li id="theme7"(click)='onChangueColor("bg-theme7")'></li>
        <li id="theme8"(click)='onChangueColor("bg-theme8")'></li>
        <li id="theme9"(click)='onChangueColor("bg-theme9")'></li>
        <li id="theme10"(click)='onChangueColor("bg-theme10")'></li>
        <li id="theme11"(click)='onChangueColor("bg-theme11")'></li>
        <li id="theme12"(click)='onChangueColor("bg-theme12")'></li>
        <li id="theme13"(click)='onChangueColor("bg-theme13")'></li>
        <li id="theme14"(click)='onChangueColor("bg-theme14")'></li>
        <li id="theme15"(click)='onChangueColor("bg-theme15")'></li>
      </ul>

   </div>
 </div>
<!--end color switcher-->
