<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->

<!--Start footer-->
<footer class="footer">
  <div class="container">
    <div class="text-center">
      Copyright © 2021 Fast Eat |
      <a href="about">
        <i class="zmdi"></i><span>Información</span>
      </a>
    </div>
  </div>
</footer>
<!--End footer-->
