<app-header></app-header>
<!-- Content Start-->

<!--Section: Block Content-->
<section class="card mb-5  p-4">
  <div class="row">

    <!-- Imagen del articulo -->
    <div class="col-md-6 mb-4 mb-md-0">
      <div class="mdb-lightbox">
        <div class="row product-gallery mx-1">
          <img [src]="'data:image/jpg;base64,'+articulo.imagen" class="bd-placeholder-img card-img-top img-thumbnail" xmlns="" role="img" aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice" focusable="false" style="overflow: hidden; ">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!--Nombre del articulo-->
      <h5>{{articulo.nombre}}</h5>

      <!--Categoria del articulo-->
      <p class="mb-2 text-info text-uppercase small">{{articulo.categoria.nombre}}</p>

      <!-- CALIFICACION DEL PLATO / FUTURA IMPLEMENTACION-->
      <ul class="rating list-unstyled">
        <li class="d-inline">
          <i class="fas fa-star fa-sm text-warning list-inline-item"></i>
        </li>
        <li class="d-inline">
          <i class="fas fa-star fa-sm text-warning list-inline-item"></i>
        </li>
        <li class="d-inline">
          <i class="fas fa-star fa-sm text-warning list-inline-item"></i>
        </li>
        <li class="d-inline">
          <i class="far fa-star fa-sm text-warning list-inline-item"></i>
        </li>
        <li class="d-inline">
          <i class="far fa-star fa-sm text-warning list-inline-item"></i>
        </li>
      </ul>

      <!--Precio del articulo-->
      <p><span class="mr-1"><strong>Precio: {{articulo.precio}} €</strong></span></p>

      <!--Descripción del articulo-->
      <p class="pt-2">{{articulo.descripcion}}</p>
      <div class="table-responsive mb-4">

      </div>
      <div class="d-flex justify-content-between">
        <div class="input-group">
          <button (click)=addCarrito(articulo) type="button" class="btn btn-light btn-outline-light text-white btn-md mt-2 w-100"><i class="fas fa-shopping-cart pr-2"></i>Añadir al carrito</button>
          <button (click)="volver()" type="button" class="btn btn-light btn-md mt-2 w-100"> Volver al catalogo </button>
          <button type="button" class="btn btn-warning btn-md mt-5 w-100" data-toggle="modal" data-target="#staticBackdrop2">
          <i class="fas fa-pen">&nbsp;Modificar</i>&nbsp;</button>
          <button (click)="obtenerArticuloForDelete()" type="button" class="btn btn-danger btn-md mt-2 w-100">
            <i class="fas fa-trash">&nbsp;Eliminar</i>&nbsp;
            <div *ngIf="eliminando" class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </div>
      <div class="d-flex justify-content-between ">

      </div>
    </div>


  </div>

  <!--Alergenos del articulo-->
  <div *ngIf="control == true" class="table table-sm table-borderless mb-0 mt-4 ml-2 mr-2">
    <h5 class="pl-0 w-25" scope="row"><strong>Alergenos</strong></h5>
    <hr style="margin-top: -5px;">
  </div>
  <div *ngIf="control == true" class="d-flex flex-row flex-wrap">
    <div *ngFor="let articulo of alergenos |async" class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-1 mb-2">
      <div class="bg-light p-2" >
        <img class="bd-placeholder-img card-img-top img-fluid" src='../../../../../assets/images/Alergenos/{{articulo.alergeno.nombre}}.png' >
      </div>
    </div>
  </div>
  <!--Fin Alergenos-->

</section>
<!--Section: Block Content-->

<!-- Content End-->
<app-footer></app-footer>

<!--<app-color></app-color>-->

<!-- Modal -->
<div class="modal fade card " id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content " style=" background: url(../../../../assets/images/bg-themes/2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
      <div class="modal-body">
        <!--Componente-->
        <app-uplato [item]="articulo"></app-uplato>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
      </div>
    </div>
  </div>
</div>
