.articulo{
  background-color: rgba(255, 255, 255, 0.116);
  border-style: solid;
  border-left-width: 3px;
  border-left-color: #ffffff;
  border-top: none;
  border-bottom: none;
  border-right: none;
  color: white;
  font-weight: 200;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 5px 5px 5px;
}




