<!-- Content Start-->
<div class="d-flex flex-column card ">

  <div class="d-flex flex-column card p-3 ">
      <h5><i class="fas fa-shopping-cart"></i> Carrito de la compra</h5>
  </div>

  <div class="d-flex flex-column p-3" style="max-height: 50vh; overflow: hidden; overflow-y: scroll;"> <!-- Contenido del carrito -->

    <!-- Inicio Item -->
    <div *ngFor="let articulo of articulos |async "  class="d-flex flex-column flex-md-row mb-2 articulo">
      <div class="d-flex flex-md-row flex-column col-xs-12 col-md-8">
        <div class="col-xs-12 col-md-4 mr-3 mb-md-0 mb-3">
          <img [src]="'data:image/jpg;base64,'+articulo.imagen" class="img-fluid d-none d-md-block img-thumbnail"
            preserveAspectRatio="xMidYMid slice" focusable="false" style="max-width: 14vh !important; margin-left: -28px !important; height: 15vh; max-height: 15vh; overflow: hidden; ">

        </div>
        <div class="col-xs-12 col-md-8 ">
          <h4 class="product-name"><strong>{{articulo.nombre}}</strong></h4><h4><small>{{articulo.descripcion}}</small></h4>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-start  ml-3 justify-content-md-end col-xs-12 col-md-4">
        <div class="d-flex pd-2 flex-column flex-md-row">
          <div class="input-group input-group p-3 rounded" style="height: 40px;">
            <span class="input-group-text rounded-0 bg-light" id="inputGroup-sizing-sm"><strong>{{articulo.precio}}€</strong>&nbsp;</span>
            <!--<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="1">-->
            <button type="button" class="btn btn-outline-danger btn-xs rounded-0" (click)=eliminarArticulo(articulo)> <i class="far fa-trash-alt"></i> </button>
          </div>
          <div class="p-2">

          </div>

        </div>

      </div>

      <div> <!--Inicio separador -->
        <hr>
      </div> <!--Fin separador -->
    </div>

    <!--Fin item-->

  </div> <!-- Fin del carrito -->

  <hr *ngIf="contador > 0">

  <!-- FRANJA HORARIA -->
  <div *ngIf="contador > 0" class="d-flex flex-column justify-content-between w-100 pl-3 pt-3 pb-3 pr-4">
    <h5 style="margin-top: -20px;" class="" > Elige una franja horaria </h5>
    <div class="text-center row row-cols pt-2 ">

      <div *ngFor="let franjaHoraria of franjasHorarias |async" class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2">
        <div type="radio" class="card bg-light">
          <div class="p-1">
            <input class="p-1" type="radio" id="{{franjaHoraria.id_franjahoraria}}" name="franjaHoraria" (change)="selectedFranjaHoraria($event)">
            <label style="margin-bottom: .0rem;" class="p-1" id="{{franjaHoraria.id_franjahoraria}}">{{franjaHoraria.horaInicio}} - {{franjaHoraria.horaFinal}}</label>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- FRANJA HORARIA -->

  <div *ngIf="contador > 0" class="d-flex flex-sm-row flex-column justify-content-between p-3" style="margin-top: -20px;">

    <div class="d-flex flex-row">
      <div>
        <h4 class="text-right">Total: </h4>
      </div>
    </div>
    <div class="d-flex flex-row">
      <div class="mr-4 text-nowrap">
        <h4><strong>{{precio}}</strong> €</h4>
      </div>

      <button (click)="realizarPedido()" type="button" class="btn btn-success btn-block" >
        <i class="fas">&nbsp;Comprar</i>&nbsp;
        <div *ngIf="modificando" class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>

    </div>
  </div>

</div>
<!-- Content End-->



