/* You can add global styles to this file, and also import other style files */
/*change the thinkness of the scrollbar here*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
/*add a shadow to the scrollbar here*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
}
/*this is the little scrolly dealio in the bar*/
::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  height: 3px;
}
/*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/
::-webkit-scrollbar-corner       { display: none; height: 0px; width: 0px; }

/* Thin Scrollbar */
:root{
  scrollbar-face-color: rgb(210,210,210) !important; /* Firefox 63 compatibility */
  scrollbar-track-color: rgb(0, 0, 0) !important; /* Firefox 63 compatibility */
  scrollbar-color: rgb(210,210,210) rgb(0, 0, 0) !important;
  scrollbar-width: thin !important;
}

.-modal-content{
  background-color: rgba(0, 0, 0, 0.85) !important;
  background-image: none !important;
}

