select option {
  margin: 0px !important;
  padding: 10px !important;
  background: rgba(255, 255, 255, 0) !important;
  color: #fff !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4) !important;
}
select option:hover {
  background: rgba(0, 0, 0, 0.534) !important;
  color: #fff !important;
}

select option::selection {
  background: rgba(0, 0, 0, 0.534) !important;
  color: #fff !important;
  border: none !important;
}

select option:focus{
  background: rgba(0, 0, 0, 0.534) !important;
  color: #fff !important;
}
select option:focus-visible {
  background: rgba(0, 0, 0, 0.534) !important;
  color: #fff !important;
}

select{
  padding: 0px !important;
}

