<app-header></app-header>
<!-- Content Start-->
  <div class="row ">

    <!--Loading-->
    <div *ngIf="!isLoaded"  class="col-12 mb-5 text-nowrap text-center mt-5">
      <span>
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        &nbsp;Cargando ... &nbsp;
      </span>
    </div>

    <!--Selector del pedido y filtros-->
    <div class="col-xs-12 col-lg-12 col-xl-2 p-0 rounded pr-2">
      <div *ngIf="isLoaded" class="input-group mb-3 p-0 m-0 card">
        <label class="input-group-text text-white rounded-0 bg-light" for="inputGroupSelect01" >Pedido</label>
      </div>
      <div *ngIf="isLoaded" class="input-group mb-3 p-0 card m-0"  style="background-color: rgba(0, 0, 0, 0.212);">
        <select size="5" class="form-select text-white rounded-0 border-0 p-2" id="inputGroupSelect01" style="max-width: 100%; background-color: rgba(0, 0, 0, 0.212);">
          <option style="background-color: lightgray; color: black;" *ngFor="let pedido of pedidos | async;" (click)=mostrarPedido(pedido)>{{'#'+pedido.id_pedido+' - '+pedido.fecha}}</option>
        </select>
      </div>
      <div *ngIf="isLoaded" class="input-group mb-3 card p-0 m-0">
        <label class="input-group-text bg-light text-white rounded-0 " for="inputGroupSelect01">Filtro x Email</label>
      </div>
      <div *ngIf="isLoaded" class="input-group mb-3 card p-0 m-0" style="background-color: rgba(0, 0, 0, 0.212);" >
        <input [(ngModel)]="email" value={{email}} (ngModelChange)="onNameChangeFilter($event)" type="email" class="form-control input-shadow rounded-0 bootstrap-select w-100" style="background-color: rgba(0, 0, 0, 0.212);" >
      </div>

      <div *ngIf="isLoaded" class="input-group mb-3 card p-0 m-0">
        <label class="input-group-text bg-light text-white rounded-0 " for="inputGroupSelect01">Filtro x fecha</label>
      </div>
      <div *ngIf="isLoaded" class="input-group mb-3 card p-0 m-0" style="background-color: rgba(0, 0, 0, 0.212);" >
        <input [(ngModel)]="fecha" value={{fecha}} (ngModelChange)="onFechaChangeFilter($event)" type="date" class="form-control input-shadow rounded-0 bootstrap-select w-100"style="background-color: rgba(0, 0, 0, 0.212);" >
      </div>

      <div *ngIf="isLoaded" class="input-group mb-3 card p-0 m-0">
        <label class="input-group-text bg-light text-white rounded-0 " for="inputGroupSelect01">Filtro x rango</label>
      </div>
      <div *ngIf="isLoaded" class="input-group mb-3 card p-0 m-0" style="background-color: rgba(0, 0, 0, 0.212);" >
        <input [(ngModel)]="fecha1" value={{fecha1}} (ngModelChange)="onFechaChangeRangoFilter($event)" type="date" class="form-control input-shadow rounded-0 bootstrap-select w-100"style="background-color: rgba(0, 0, 0, 0.212);" >
      </div>
      <div *ngIf="isLoaded" class="input-group mb-3 card p-0 m-0" style="background-color: rgba(0, 0, 0, 0.212);" >
        <input [(ngModel)]="fecha2" value={{fecha2}} (ngModelChange)="onFechaChangeRangoFilter($event)" type="date" class="form-control input-shadow rounded-0 bootstrap-select w-100"style="background-color: rgba(0, 0, 0, 0.212);" >
      </div>

    </div>

    <!--Información del pedido-->
    <div *ngIf="isLoaded" class="col-xs-12 col-lg-12 col-xl-10 card text-white" >
      <app-view [pedidoView]="pedido" [pedidosItemsView]="pedidosItems" [articulosCargados]="articulosCargados"></app-view>
    </div>
  </div>
<!-- Content End-->

<app-footer></app-footer>

<!--<app-color></app-color>-->
