<!-- Start wrapper-->
<div id="wrapper" style="position: absolute;top: 0;right: 0;">
  <div class="card card-authentication1 mx-auto my-5">
    <div class="card-body">
      <div class="card-content p-2"><!-- Contenido card -->

        <div class="card-title text-uppercase text-center py-3">Registrarse</div>
        <form  *ngIf="!isLoggedIn" name="form" (ngSubmit)="onRegister()" [formGroup]="angForm" autocomplete="off"> <!-- Formulario -->

          <!--Username-->
          <div class="form-group">
            <label for="exampleInputName" class="sr-only">Nombre de usuario</label>
            <div class="position-relative has-icon-right">
              <input type="text" name="username" formControlName="username" class="form-control input-shadow" placeholder="Introduce el nombre de usuario"
               [(ngModel)]="user.username" autocomplete="new-username" required minlength="4">
              <div class="form-control-position">
                <i class="icon-user"></i>
              </div>
            </div>
          </div>
          <!--Username Validation -->
          <div *ngIf="angForm.controls['username'].invalid && (angForm.controls['username'].dirty || angForm.controls['username'].touched)" class="alert alert-danger p-2">
            <div *ngIf="angForm.controls['username'].errors.required"> Se requiere nombre de usuario. </div>
            <div *ngIf="angForm.controls['username'].errors.minlength"> El nombre de usuario debe tener al menos 4 caracteres. </div>
          </div>

          <!--Email-->
          <div class="form-group">
            <label for="exampleInputEmailId" class="sr-only">Email</label>
            <div class="position-relative has-icon-right">
              <input type="email" name="email" formControlName="email" class="form-control input-shadow" placeholder="Introduce el email"
              [(ngModel)]="user.email" autocomplete="new-email" requiered email>
              <div class="form-control-position">
                <i class="icon-envelope-open"></i>
              </div>
            </div>
          </div>
          <!--Email Validation -->
          <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger p-2">
            <div *ngIf="angForm.controls['email'].errors.required"> Se requiere un email. </div>
            <div *ngIf="angForm.controls['email'].errors.email"> El email no es correcto. </div>
          </div>

          <!--Password-->
          <div class="form-group">
            <label for="exampleInputPassword" class="sr-only">Contraseña</label>
            <div class="position-relative has-icon-right">
              <input type="password" name="password" formControlName="password" class="form-control input-shadow" placeholder="Introduce la contraseña"
              [(ngModel)]="user.password" autocomplete="new-password" required minlength="8">
              <div class="form-control-position">
                <i class="icon-lock"></i>
              </div>
            </div>
          </div>
          <!--Password Validation -->
          <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger p-2">
            <div *ngIf=" angForm.controls['password'].errors.required "> Se requiere contraseña. </div>
            <div *ngIf="angForm.controls['password'].errors.minlength"> La contraseña debe tener al menos 8 caracteres. </div>
          </div>

          <!--Términos y condiciones-->
          <div class="form-group">
            <div class="icheck-material-white">
                    <input type="checkbox" id="user-checkbox" name="checkbox" formControlName="checkbox" checked="" />
                    <label style="font-size: 9px;" for="user-checkbox">Estoy de acuerdo con los términos y condiciones</label>
            </div>
          </div>

          <!--Submit-->
          <input type="submit" class="btn btn-light btn-block waves-effect waves-light " value="Registrarse">

          <!--Errores API-->
          <div class="form-group mt-2 p-2">
            <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed" >
              {{ errorMessage }}
            </div>
          </div>

        </form> <!-- Fin Formulario -->

      </div><!-- Fin Contenido card -->
    </div>
    <div class="card-footer text-center py-3">
      <p class="text-warning mb-0">Ya tienes una cuenta? <a href="login"> Inicia sesión aquí</a></p>
    </div>
    <div *ngIf="debug" class="card-footer  py-3">
      <p class="text-info mb-0">{{ angForm.value | json }}</p>
      <p class="text-info mb-0">Form status: {{ angForm.status | json }}</p>
    </div>
  </div>
</div><!--wrapper-->
