#notfound {
  position: relative;
  height: 600px;
}

#notfound .notfound {
  position: absolute;
  left: 20%;
  top: 30%;
}

.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;

}

.notfound .notfound-404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  padding-top: 50px;
  height: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url('../../../../assets/images/bg1.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.notfound-404hr{
  margin-top: -90px;
}


.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0px;
}

.notfound p {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}








