<div class="container">
  <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
      <hr class="notfound-404hr">
			<h2>Pagina no encontrada</h2>
			<p>Es posible que la página que está buscando se haya eliminado si se cambió el nombre o no está disponible temporalmente. </p>
			<a class="btn btn-outline-dark shadow-lg" style="color: aliceblue;" href="#">Ir a la página de inicio</a>
		</div>
	</div>
</div>


