<!--Start sidebar-wrapper-->
<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
  <div class="brand-logo">
    <a href="catalogo">
    <!--<img src="assets/images/logo_5.ico" class="logo-icon" alt="logo icon" style="margin-right: -8px; padding-bottom: 6px;">-->
    <h5 class="logo-text">Fast Eat</h5>
  </a>
</div>
<ul class="sidebar-menu do-nicescrol">
    <li>
      <a href="catalogo">
        <i class="zmdi zmdi-view-dashboard"></i> <span>Catalogo</span>
      </a>
    </li>

    <li>
      <a href="pedidos">
        <i class="zmdi zmdi-view-dashboard"></i> <span>Pedidos</span>
      </a>
    </li>

    <li>
      <a data-toggle="modal" data-target="#staticBackdrop">
        <i class="zmdi zmdi-view-dashboard"></i> <span>Carrito</span>
        <small *ngIf="contador > 0" class="badge float-right shadow-none">{{contador}}</small>
      </a>
    </li>
  </ul>

</div>
<!--End sidebar-wrapper-->

<!--Start topbar header-->
<header class="topbar-nav">
  <nav class="navbar navbar-expand fixed-top">
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item">
        <a class="nav-link toggle-menu" href="javascript:void();">
        <i class="icon-menu menu-icon"></i>
      </a>
      </li>
    </ul>

    <ul class="navbar-nav align-items-center right-nav-link">

      <li class="nav-item dropdown-lg">
        <small *ngIf="contador > 0" class="badge float-right shadow-none ">{{contador}}</small>
        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="modal" data-target="#staticBackdrop" href="javascript:void();">
        <i class="fa fa-shopping-cart"></i></a>
      </li>

      <li class="nav-item">
        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret " data-toggle="dropdown" href="#">
          <span class="user-profile "><i class="fas fa-user-circle img-circle "></i> </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item user-details">
            <a href="javaScript:void();">
              <div class="media">
                <div class="avatar"><i class="far fa-user img-circle align-self-center pt-3 mr-2"></i></div>
                <div class="media-body">
                <h6 class="mt-2 user-title">{{user.username}}</h6>
                <p class="user-subtitle">{{user.email}}</p>
                </div>
              </div>
            </a>
          </li>
          <li class="dropdown-divider"></li>
          <a href="usuario/update">
          <li type="button" class="dropdown-item"><i class="icon-wallet mr-2"></i>Cuenta</li>
          </a>
          <li class="dropdown-divider"></li>
          <!--
          <li type="button" class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
          <li class="dropdown-divider"></li>
          -->
          <li type="button" class="dropdown-item" (click)=logOut();><i class="icon-power mr-2"></i>Cerrar sesión</li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<!--End topbar header-->

<div class="clearfix"></div>

<app-color></app-color>

<!-- Modal -->
<div class="modal fade card " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content " style=" background: url(../../../../assets/images/bg-themes/2.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
      <div class="modal-body">
        <app-carrito></app-carrito>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
      </div>
    </div>
  </div>
</div>



