<app-header></app-header>

<!-- Content Start-->
<div class="container">
  <div class="text-center">

    <img src="assets/images/logo_5.ico" class="logo-icon" alt="logo icon" style="margin-right: -8px; padding-bottom: 6px;">
    <h5 class="logo-text" style="margin-right: 10px;">Fast Eat</h5>
    <p style="margin-top: 15px;">FastEat es un proyecto surgido de la necesidad y como solución a los siguientes problemas:</p>
    <li> Estamos en plena pandemia <strong>"Coronavirus"</strong>. </li>
    <li> Hay que evitar aglomeraciones de gente, como la que ocurre en el comedor. </li>
    <li> Queremos que los empleados se sientan algo más seguros. </li>
    <br>
    <p>FastEat ha sido creado por David Bonet y Xavi Bonet como proyecto final en el curso Fullstack Java-Angular.</p>
    <br>

      <div class="card mx-auto my-5">
        <div class="card-body">
          <div class="card-content p-2">
            <div class="card-title text-uppercase text-center py-2"><h6>CONTACTO</h6></div>
            <form action="mailto:info@w3docs.com" >

              <div class="form-group">
                <div class="position-relative has-icon-right">
                  <input type="text" class="form-control input-shadow" placeholder="Introduce tu nombre" name="username">
                  <div class="form-control-position">
                    <i class="icon-user"></i>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="position-relative has-icon-right">
                  <input type="text" class="form-control input-shadow" placeholder="Introduce tu email" name="email">
                  <div class="form-control-position">
                    <i class="icon-envelope-open"></i>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="position-relative has-icon-right">
                  <textarea class="form-control input-shadow" rows="3" placeholder="Introduce tu mensaje" name="message"></textarea>
                </div>
              </div>

              <input type="submit" class="btn btn-light btn-block waves-effect waves-light" value="Enviar">

            </form>
          </div>
        </div>
      </div>


  </div>
</div>

<!-- Content End-->

<app-footer></app-footer>

<!--<app-color></app-color>-->
