@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.transparent{
  background-color: rgba(255, 255, 255, 0) !important;

}
.form-control{
  border-style: solid;
  border-left-width: 3px;
  border-left-color: #ffffff85;
  border-top: none;
  border-bottom: none;
  border-right: none;
  color: white;
  font-weight: 200;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select option{
  background-color: #d3d3d3 !important;
  color: #141414;
}
.custom-file-label {
  height: 100%;
  background-color: #ffffff00;
  padding-top: 10px;
  border-style: solid;
  border-left-width: 3px;
  border-left-color: #ffffff85;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.alergeno{
  border-style: solid;
  border-top-width: 3px;
  border-top-color: #ffffff85;
  border-left: none;
  border-bottom: none;
  border-right: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px -10px 0px;

}

label::after{
  height: 100%;
  padding-top: 10px;
}



/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
