<div class="row g-3 card p-3" style="max-height: 75vh; overflow: hidden; overflow-y: scroll; margin-top: -10px;">
  <div class="col-12">

    <div class="pr-3 pl-3 pt-1 pb-0 w-100 mt-1  text-white rounded-0 card bg-warning" style="margin-bottom: -7px;">
      <h4 class="">Modificar Articulo</h4>
    </div>


    <form (ngSubmit)="updateItem()" [formGroup]="angForm" autocomplete="off"> <!--Inicio Formulario-->
      <div class="row g-3">

        <!--Nombre del articulo-->
        <div class="col-md-6 mt-3 mr-0 ml-0">
          <div class="input-group bg-light">
            <label style="width: 140px;" class="input-group-text transparent" >Nombre</label>
            <input type="text" name="nombre" formControlName="nombre" class="form-control transparent "
            [(ngModel)]="item.nombre" autocomplete="new-nombre" required maxlength="50">
          </div>
        </div>

        <!--Categoria del articulo-->
        <div class="col-md-6 mt-3">
          <div class="input-group bg-light">
            <label style="width: 140px;" class="input-group-text transparent" >Categoria</label>
            <select name="categoria" formControlName="categoria" class=" form-control custom-select dropdown transparent"
            [(ngModel)]="item.categoria.id_categoria" required>
              <option *ngFor="let categoria of categorias | async" [value]="categoria.id_categoria" class="drop bg-light" >{{categoria.nombre}}</option>
            </select>
          </div>
        </div>

        <div class="clearfix"></div>

        <!--Validación Nombre-->
        <div class="col" style="margin-bottom: -20px;">
          <div *ngIf="angForm.controls['nombre'].invalid && (angForm.controls['nombre'].dirty || angForm.controls['nombre'].touched)" class="alert alert-danger p-2 mt-2 col-12">
            <div *ngIf="angForm.controls['nombre'].errors.required"> Se requiere un nombre. </div>
          </div>
        </div>

        <!--Descripción del articulo-->
        <div class="col-12 mt-3">
          <div class="input-group bg-light">
            <label style="width: 140px;" class="input-group-text transparent" >Descripción</label>
            <textarea name="descripcion" formControlName="descripcion" class="form-control transparent"
            [(ngModel)]="item.descripcion" autocomplete="new-descripcion" required maxlength="200"></textarea>
          </div>
        </div>

        <!--Validación descripcion-->
        <div class="col-12" style="margin-bottom: -20px;">
          <div *ngIf="angForm.controls['descripcion'].invalid && (angForm.controls['descripcion'].dirty || angForm.controls['descripcion'].touched)" class="alert alert-danger p-2 mt-2 col-12">
            <div *ngIf="angForm.controls['descripcion'].errors.required"> Se requiere una descripción. </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <!--Precio del articulo-->
        <div class="col-md-4 mt-3">
          <div class="input-group bg-light">
            <label style="width: 140px;" class="input-group-text transparent" >Precio</label>
            <input type="number" name="precio" formControlName="precio" class="form-control transparent"
            [(ngModel)]="item.precio"  autocomplete="new-precio" required >
          </div>
        </div>

        <!--Imagen del articulo-->
        <div class="col-md-8 mt-3">
          <div class="input-group bg-light">
            <label style="width: 140px;" class="input-group-text transparent" >Imagen</label>
            <div class="custom-file">
              <input type="file" name="image" formControlName="image" class="custom-file-input" accept="image/*" #inputimage (change)="changeLabel()"
              [(ngModel)]="imagenEntrada" observeFiles autocomplete="new-image" required >
              <label class="custom-file-label" #labelimage>Elige una imagen </label>
            </div>
          </div>
        </div>


        <!--Validación precio-->
        <div class="col-12" style="margin-bottom: -20px;">
          <div *ngIf="angForm.controls['precio'].invalid && (angForm.controls['precio'].dirty || angForm.controls['precio'].touched)" class="alert alert-danger p-2 mt-2 col-12">
            <div *ngIf="angForm.controls['precio'].errors.required"> Se requiere un numero. </div>
          </div>
        </div>

        <!--Validación image-->
        <div class="col-12" style="margin-bottom: -20px;">
          <div *ngIf="angForm.controls['image'].invalid && (angForm.controls['image'].dirty || angForm.controls['image'].touched)" class="alert alert-danger p-2 mt-2 col-12">
            <div *ngIf="angForm.controls['image'].errors.required"> Se requiere una imagen. </div>
          </div>
        </div>

        <!--Clearfix-->
        <div class="clearfix "></div>
        <!--Alergenos del articulo-->
        <div class="col-12 d-flex flex-row flex-wrap mt-3">
          <div class="col-12 alergeno">&nbsp;</div>
          <div *ngFor="let alergeno of alergenos |async;" class="col-6 col-sm-4 col-md-3 col-lg-1 col-xl-1">
            <div  class="card bg-light rounded-0">
              <div class="d-flex justify-content-center">
                <img class="bd-placeholder-img card-img-top" src='../../../../../assets//images/Alergenos/{{alergeno.nombre}}.png' >
              </div>
              <div class="d-flex justify-content-center">
                <div  class="mb-3 mr-4 pb-3">
                  <input type="checkbox" id="box-{{alergeno.id_alergeno}}" value='{{alergeno.id_alergeno}}' (change)="OnCheckboxSelect(alergeno, $event)">
                  <label for="box-{{alergeno.id_alergeno}}"></label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Clearfix-->
        <div class="clearfix"></div>

        <!--Boton Crear-->
        <div class="col-12 " style="margin-bottom: -7px;">
          <button class="w-100 btn btn-outline-warning btn-lg mt-0 rounded-0" type="submit">
            <i class="fas fa-pen">&nbsp;Modificar</i>&nbsp;
            <div *ngIf="modificando" class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>

        <!--Debug-->
        <div *ngIf="debug" class="p-3 card w-100 mt-3">
          <p class="text-info mb-0">{{ angForm.value | json }}</p>
          <p class="text-info mb-0">Form status: {{ angForm.status | json }}</p>
        </div>


      </div>

    </form> <!--Fin Formulario-->
  </div>
</div>
